<body>
    <div class="topdesign">    
    　<p class="about">wellcome to twitter<br>
    　find out what's happenning,right,now,with the people<br>
    　and organaizations you care about.</p>
    </div>　
</body>